.modalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0px;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #0000003a;
    z-index: 200;
    position: fixed;
}

.modalLogin{
    background-color: white;
    border-radius: 10px;
    display: flex;
    max-width : 1200px;
    margin: 20px;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    box-shadow: 0 0 5px 1px rgba(5, 39, 0, 0.404);
    position: relative;
    border: solid 2px var(--primary3);
    color: var(--primary3);
}

.options{
    display: flex;
    justify-content: space-between;  
    gap: 80px;
}

.options span{
   text-decoration: underline;
   cursor: pointer;
}

.modalLogin button{
    font-size: 1.5rem;
    padding: 10px 20px;
}

.close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    border: solid 2px white;
    color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50% !important;
    background-color: var(--primary3);
    cursor: pointer;
    top: -20px;
    left: 90%;
    cursor: pointer;
  }

  @media (max-width:450px){
    .options{
        display: grid;
        width: 100%;
        gap: 15px;
        
    }

    .modalLogin{
        width: 400px;
    }
  }