.button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  background-color: #014622;
  color: white;
  box-shadow: 0px 0px 1px 1px rgb(175, 175, 175);
  align-self: flex-end;
}

.button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 25px;
}

.button img {
  width: 25px;
}

.button:hover {
  transform: scale(1.05);
  background-color: #005529;
}

.button:active {
  transform: scale(1);
}

@media (max-width: 530px) {
  .button {
    font-size: 1rem;
    width: 100%;
  }
}

@media (max-width: 260px) {
}
