.modalContato{
    display: flex;
   flex-direction: column;
   gap: 16px;
   font-weight: bold;
   
   transition: 0.3s;
   animation: animeDown .3s ease-in-out .3s;
   -webkit-animation: animeDown .5s ease-in-out .3s backwards;

}

.modalContato li{
    cursor: pointer;
    display: flex;
    gap: 10px;
   
}

.modalContato li img{
    width: 16px;
}


.animeDown{

}

@keyframes animeDown{
0%{
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    opacity: 0;
}
100%{
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
}
}