.container {
  min-width: 50vw;
  max-width: 1200px;
  min-height: 50vh;
  padding: 30px;
  margin: 70px auto;
}

.form {
  display: grid;
  min-width: 50vw;
  max-width: 1200px;
  min-height: 50vh;
  margin: 20px;
  padding: 30px;
  gap: 30px;
  border-radius: 10px;
  margin: 20px auto;
  overflow-y: auto !important;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.13);
  background-color: rgba(255, 255, 255, 0.979);
}

.button{
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 1.2rem;

}

.button:hover{
  transform: scale(1.02);
}

.button:focus{
  transform: scale(1);
}

.button img{
  width: 40px;
}

