.containerModal{
    position: absolute;
    top: 46px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
   width: 100%;
   box-shadow: 0px 0px 5px 2px rgb(230, 230, 230);
}

.options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    color: var(--primary2);
}

.options li{
    cursor: pointer;
}