.containerModal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.144);
    height: 100vh;
    width: 100vw;
}

.close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    border: solid 2px white;
    color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50% !important;
    background-color: var(--primary3);
    cursor: pointer;
    top: -20px;
    left: 93%;
    cursor: pointer;
}

.close:hover{
    scale: 1.1;
    transition: 0.2s;
}

.containerForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.979);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.13);
    min-height: 50vh;
    min-width: 50vw;
    gap: 30px;
    border-radius: 10px;
    max-width : 1200px;
    padding: 30px;
    margin-top: 20px;

}

.containerForm button{
    justify-self: flex-end;
    align-self: flex-end;
}
.cadastroUsuario{
    display: grid;
    position: relative;
    gap: 20px;
    color: var(--primary3);
}

.cadastroUsuario input[type='checkbox']{
    box-shadow: none;
}

.possuiConta{
    cursor: pointer;
}

@media (max-width:750px) {
    .cadastroUsuario{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cadastroUsuario input{
        width: 100%;
    }

    .containerForm{
        width: 90vw;
    }
}