.containerModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.144);
  height: 100vh;
  width: 100vw;
 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/4;
}

.containerForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.979);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.13);
  min-height: 40vh;
  min-width: 50vw;
  gap: 30px;
  border-radius: 10px;
  max-width: 1200px;
  padding: 30px;
  margin-top: 20px;
  overflow-y: auto !important;
 
}

.containerForm span{
    grid-row: 6;
    grid-column: 1/4;
    align-self: center;
}

.containerForm button {
  justify-self: flex-end;
  align-self: flex-end;
  grid-column: 3;
  grid-row: 6;

}

.cadastroUsuario {
  display: grid;
  gap: 20px;
  color: var(--primary3);
}

.cadastroUsuario input[type="checkbox"] {
  box-shadow: none;
}

.possuiConta {
  cursor: pointer;
}

@media (max-width: 750px) {
 .containerForm {
    max-height: 100%;

  }

  .containerForm button {
    padding: 10px;
   
  }

  .cadastroUsuario {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 20px;
  }

  .cadastroUsuario input {
    width: 100%;
  }

  .containerForm {
    width: 100vw;
  } 
}
