.containerModal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.144);
    height: 100vh;
    width: 100vw;
}

.containerForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(5, 39, 0, 0.404);
    border: solid 2px var(--primary3);
    min-height: 50vh;
    min-width: 50vw;
    gap: 30px;
    border-radius: 10px;
    max-width : 1200px;
    padding: 30px;

}

.containerForm button{
    justify-self: flex-end;
    align-self: flex-end;
}
.cadastroUsuario{
    display: grid;
    position: relative;
    gap: 20px;
    color: var(--primary3);
}

.cadastroUsuario input[type='checkbox']{
    box-shadow: none;
}



@media (max-width:600px) {
    .cadastroUsuario{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cadastroUsuario input{
        width: 100%;
    }
}