.paginacao {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.paginacao button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  background-color: rgb(139, 139, 139);
  color: white;
}

.paginacao button:disabled {
  background-color: var(--primary3);
}


@media (max-width:370px){

  .paginacao button{
    padding: 6px 16px;
  }

  .paginacao{
    gap: 5px;
  }
}