.titleContainer{
    display: flex;
    flex-direction: column;
    z-index: 100;
    transition: .3s;
}

.titleContainer h1{
    font-weight: bold;
    font-family: 'Opens Sans', sans-serif;
    transition: .3s;
}

.titleContainer p{
    font-size: 2rem;
}



@media (max-width: 960px ) {
    .titleContainer h1{
        font-size: 1.8rem !important;
    }
}

@media (max-width: 300px ) {
    .titleContainer h1{
        font-size: 1.5rem !important;
    }
}