.toast{
    position: fixed;
    animation: up .3s forwards;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.308);
    color: white;
    z-index: 1000;
}

.toast p{
    font-size: 1.2rem;
   
}
.toast span{
    font-size: 1rem;
    cursor: pointer;
}



@keyframes up {
    0%{
        bottom: -200px;
    }
    100%{
        bottom: 10px;
    }
}