.container {
  display: flex;
  min-height: 700px;
  flex-direction: column;
}

.container table {
  justify-self: start;
}

.lista {
  align-self: flex-start;
}
.buttons img {
  width: 29px;
  cursor: pointer;
}

.input{
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  
}

.status{
display: flex;
}

.status::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: yellow !important;
}

.headerLista{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;

}

.row img{
  width: 29px;
  cursor: pointer;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}




