.containerLinkHome {
  background-color: var(--gray2);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  justify-content: space-around;
  align-self: flex-end;
  transition: .3s;
}

.containerLinkHome img {
  width: 50px;
  margin-bottom: 10px;
}
.titulos h2{
  font-size: 1.8rem;
  color: var(--primary2);
  font-weight: 600;
  font-family:'Opens Sans', sans-serif;;
  margin-bottom: 3px;
}


.titulos {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media (max-width:530px) {
  .titulos h2{
    font-size: 1.2rem;
    word-wrap: break-word;
   
  }
  .titulos P{
    font-size: .8rem;
  }

  .containerLinkHome img{
    width: 45px;
  }
}

@media (max-width:260px) {
  .titulos h2{
    font-size: 1.3rem;
  }
  .titulos P{
    font-size: .9rem;
  }
}