.containerServico{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 30px;
    min-height: 500px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    padding: 30px;
}


h3{
    font-size: 1.6rem;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 5px;
    color: var(--primary4);
}
h2{
    font-size: 1.4rem;
    font-weight: bold;
    transition: 0.3s;
    color: var(--primary2);
}
.tituloModal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: baseline;
}
.containerServico ul{
    margin-top: 30px;   
}
.break{
    flex-basis: 100%;
    height: 0;
}
.modalServico{
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    background-color: var(--gray2);
    padding: 20px;
    border-radius: 10px 10px 0 0;
    color: var(--primary3);
    gap: 15px;
    justify-content: start;
    align-items: center;
    transition: 0.3s;
}



.button {
    justify-self: end;
    align-self: flex-end;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    background-color: #014622;
    color: white;
    box-shadow: 0px 0px 1px 1px rgb(175, 175, 175);
  }
  

  .button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 25px;
  }
  
  .button img {
    width: 25px;
  }
  
  .button:hover {
    transform: scale(1.05);
    background-color: #005529;
  }
  
  .button:active {
    transform: scale(1);
  }
  