.containerServico{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 500px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    padding: 30px;
}

h3{
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 5px;
    color: var(--primary1);
}
h2{
    font-size: 1.1rem;
    transition: 0.3s;
    color: var(--primary2);
    display: flex;
}

h2 span{
  display: flex;
  align-items: center;
  gap: 10px;
}
.tituloModal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: baseline;
}
.containerServico ul{
    margin-top: 30px;   
}
.break{
    flex-basis: 100%;
    height: 0;
}
.modalServico{
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    flex-wrap: wrap;
    align-self: start;
    background-color: var(--gray2);
    padding: 20px;
    border-radius: 10px 10px 0 0;
    color: var(--primary3);
    gap: 15px;
    justify-content: start;
    align-items: center;
    transition: 0.3s;
}




.button {
    justify-self: end;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    background-color: #014622;
    color: white;
    box-shadow: 0px 0px 1px 1px rgb(175, 175, 175);
  }
  

  .button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 25px;
  }
  
  .button img {
    width: 25px;
  }
  
  .button:hover {
    transform: scale(1.05);
    background-color: #005529;
  }
  
  .button:active {
    transform: scale(1);
  }

  .options{
    display: flex;
    gap: 16px;
   
  }

  .options img{
    width: 30px;
    cursor: pointer;
  }

  .options img:hover{
    scale: 1.2;
    transition: .2s;
  }
  .status_on{
    display: block;
    background-color: rgba(0, 90, 0, 0.911);
    width: 10px;
    height: 10px;
    border-radius: 10px;
    animation:alternate infinite status-on .5s;
  }
  
  @keyframes status-on {
    0%{
      box-shadow: 1px 1px 5px 0px green;
    }

    100%{
      box-shadow: 1px 1px 5px 2px green;
    }
  }

  .status_aguardando{
    display: block;
    background-color: rgba(235, 252, 0, 0.911);
    width: 10px;
    height: 10px;
    border-radius: 10px;
    animation:alternate infinite status .5s;
  }
  
  @keyframes status {
    0%{
      box-shadow: 1px 1px 5px 0px rgb(231, 208, 1);
    }

    100%{
      box-shadow: 1px 1px 5px 2px rgb(231, 208, 1);
    }
  }


  @media (max-width: 500px) {
    .modalServico{
      grid-template-columns: 1fr;
    }

    .options{
      margin-top: 10px;
      grid-row: 4;
      justify-content: space-around;
    }

    .options img{
      
      background-color: #c5c5c569;
      width: 45px;
      padding: 5px;
      border-radius: 5px;
    }
  }
  