.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks li {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary1);
  cursor: pointer;
}

.navLinks li a {
  padding: 20px 10px;
}

@media (max-width: 600px) {
  .navLinks li a {
    background-color: rgb(250, 250, 250);
    font-size: 1.1rem;
    border-radius: 10px;
  }
}
