main {
  color: var(--primary1);
}

.titulo {
  display: grid;
  grid-template-columns: 400px 1fr;
  margin-top: -75px;
  transition: 0.3s;
  align-items: end;
}

.titulo h1 {
  margin-bottom: 90px;
}

.titulo img {
  width: 500px;
  clip-path: circle(40%);
}

.gridLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.figuras {
  max-width: 100%;
  justify-self: center;
}

.section {
  margin-bottom: 100px;
}

@media (max-width: 830px) {
  .titulo img {
    width: 300px;
    transition: 0.3s;
  }
  .titulo {
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    margin-top: -40px;
  }

  .gridLinks {
    grid-template-columns: 1fr;
  }

  .figuras:nth-child(2) {
    display: none;
  }

  .figuras:nth-child(3) {
    grid-row: 4;
  }
}

@media (max-width: 730px) {
  .titulo {
    grid-template-columns: 1fr;
    justify-items: center;
    transition: 0.3s;
    margin-top: -50px;
  }
  .titulo h1 {
    grid-row: 1;
    text-align: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 730px) {
  .titulo img {
    width: 220px;
  }
}

@media (max-width: 420px) {
  .titulo {
    margin-top: 0px;
    align-items: center;
    justify-content: center;
  }
  .titulo h1 {
    font-size: 5rem;
    margin-bottom: 16px;
    text-align: center;
  }

  .titulo img {
    display: none;
  }

  /* .figuras {
    max-width: 300px;
    object-fit: cover;
    justify-self: center;
  } */
}
