.servico {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 400px;
  height: 200px;
  border-radius: 10px ;
  color: var(--primary3);
  background-color: var(--gray2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.3s;
}

.servico:hover{
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.servico h3 {
  font-size: 1.4rem;
  font-weight: bold;
  width: 60%;
  margin-right:40% ;
  transition: 0.3s;
  color: var(--primary2);
}


.servico span {
  position: absolute;
  font-size: 0.8rem;
  justify-self: end;
  top: 15px;
  right: -15px;
  background-color: #fe7d7d;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.containerNomeEBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.servico p {
  width: 50%;
  font-size: 1.3rem;
  color: var(--primary1);
}

.button {
  width: 50%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  background-color: #014622;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
}

.button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 25px;
}

.button img {
  width: 25px;
}

.button:hover {
  transform: scale(1.05);
  background-color: #005529;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:active {
  transform: scale(1);
}



.showMore {
  width: 100%;
  padding: 5px 10px;
  border: none;
  background-color: #bdbdbd;
  color: var(--primary2);
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

@media (max-width: 485px) {

  .servico {
    width: 320px;
  }
  .servico h3 {
    font-size: 1.4rem;
  }

  .servico p {
    width: 100%;
  }

  .containerNomeEBtn{
    flex-wrap: wrap;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
  }
  .servico span {
    justify-self: start;
    position: initial;
    padding: 7px 18px;
  }
}
