.servico {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--gray2);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  color: var(--primary3);
  gap: 30px;
  align-items: center;

  
}

.servico h3 {
  font-size: 1.6rem;
  font-weight: bold;
  transition: 0.3s;
  color: var(--primary2);
}

.servico p {
  font-size: 1.3rem;
  color: var(--primary1);
}

.servico span {
  font-size: 0.8rem;
  justify-self: end;
  position: relative;
  right: -30px;
  background-color: #fe7d7d;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.showMore {
  border: none;
  grid-column: 1/3;
  background-color: #e8e8e8;
  color: var(--primary2);
  font-size: 2rem;
  width: 100%;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  font-size: 1.2rem;
  padding: 10px;
}

@media (max-width: 450px) {
  .servico {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .servico h3 {
    font-size: 1.4rem;
  }

  .servico p {
    font-size: 1rem;
  }
  .servico span {
    justify-self: start;
    position: initial;
    padding: 7px 18px;
  }
}
