.container{
    display: flex;
    min-height: 700px;
    flex-direction: column;
}

.container table{
    justify-self: start;
}

.lista{
    align-self: flex-start;
}
.buttons img{
    width: 29px;
    cursor: pointer;
}
