:root {
  --black: #000000;

  --primary1: #062d00;
  --primary2: #014120;
  --primary3: #1e613e;

  --secundary1: #fbf104;
  --secundary2: #469aac;
  --secundary3: #fe7d7d;

  --gray1: #8c8c8c;
  --gray2: #f6f6f6;
  --white: #ffffff;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 2rem auto;
}

.animation-left-rigth{
transition: .5s;
animation:forwards left-rigth .5s;
}

@keyframes left-rigth {
  0%{
    transform: translateX(-150px);
    transition: 5s;
  }
  100%{
    transform: initial;;
  }
}

.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

[data-anime] {
  opacity: 0;
}
.anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

/* .animation-show-opacity{
  animation: forwards show-opacity 2s;
}


@keyframes show-opacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
} */