:root {
  --black: #000000;

  --primary1: #062d00;
  --primary2: #014120;
  --primary3: #1e613e;

  --secundary1: #fbf104;
  --secundary2: #469aac;
  --secundary3: #fe7d7d;

  --gray1: #8c8c8c;
  --gray2: #f6f6f6;
  --white: #ffffff;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 2rem auto;
}

@media (max-width: 750px) {
  .container{
    padding: 0 10px;
  }
}

.animation-left-rigth {
  transition: 0.5s;
  animation: forwards left-rigth 0.5s;
}

.animation-rigth-left{
  transition: 0.5s;
  animation: forwards rigth-left 0.5s;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 600;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 200;
  left: 0;
  top: 0;
  padding: 20px 10px;
  height: 100vh;
  width: 60%;
  gap: 20px;
}




@keyframes left-rigth {
  0% {
    transform: translateX(-150px);
    transition: 5s;
  }
  100% {
    transform: initial;
    display: fixed;
  }
}

@keyframes rigth-left {
  0% {
    transform: initial;
  }
  100% {
    transform: translateX(-300px);
    transition: 5s;
  }
}

.animation-up-button {
  transition: 0.5s;
  animation: forwards up-button 0.5s;
}




@keyframes up-button {
  0% {
    transform: translateY(-20px);
    transition: 5s;
  }
  100% {
    transform: initial;
  }
}

.animation-opacity {
  transition: 0.5s;
  animation: forwards show-opacity 0.3s;
}

@keyframes show-opacity {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 100%;
    transform: initial;
  }
}

.animeDown{
  transition: 0.5s;
  animation: animeDown .7s ease-in-out .4s;
  -webkit-animation: animeDown .7s ease-in-out .4s backwards;
}


@keyframes animeDown{
  0%{
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}

.animeUp{
  animation: animeUp .7s ease-in-out .4s backwards;
  -webkit-animation: animeUp .7s ease-in-out .4s backwards;
}


@keyframes animeUp{
  0%{
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}

.animeLeft{
  animation: animeLeft .7s ease-in-out .4s backwards;
  -webkit-animation: animeLeft .7s ease-in-out .4s backwards;
}

@keyframes animeLeft{
  0%{
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}