.cadastroUsuario{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    align-items: start;
    justify-content: center;
    position: relative;
}

.cadastroUsuario input[type='checkbox']{
    box-shadow: none;

}

.cadastroUsuario button{
    grid-column: 2/5;
    justify-self: end;
}

@media (max-width:600px) {
    .cadastroUsuario{
        grid-template-columns: 1fr 1fr ;
    }
}