.containerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 10px 0;
  margin: 20px auto !important;
}

.title h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #e8e8e8;
  margin-bottom: 20px;
}

.title p {
  font-size: 2rem;
  color: rgb(211, 211, 211);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
}

.form button {
  align-self: flex-end;
  padding: 16px 26px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #014622;
  color: #e8e8e8;
  border: solid 1px #e8e8e8;
}

.form button:hover {
  background-color: #e8e8e8;
  color: #014622;
  transition: 0.5s;
}
.form button:focus {
  transform: scale(0.9);
}

@media (max-width: 1000px) {
  .containerForm {
    padding: 50px 20px;
  }

  .title h1 {
    font-size: 4rem;
  }
}

@media (max-width: 830px) {
  .title h1 {
    font-size: 3rem;
  }

  .title p {
    font-size: 1.5rem;
  }

  .form {
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .containerForm {
    padding: 5px 20px;
  }

  .title h1 {
    font-size: 2rem;
  }

  .title p {
    font-size: 1rem;
  }

  .containerForm {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
