.containerPerfil{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    min-height: 500px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.212);

}

.infosPerfil{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    
    gap: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    padding: 30px;
}

.infosPerfil li{
    flex-basis: 250px;
    flex-grow: 1;
    
}
.infosPerfil li p{
    font-size: 1.2rem;
    color: var(--primary2);
}

.infosPerfil button{
    align-self: flex-end;
}

@media (max-width: 530px) {
    .infosPerfil h1{
        font-size: 1.5rem !important;
    }

    .infosPerfil{
        grid-template-columns: 1fr;
    }

    .infosPerfil li p{
        font-size: 1.3rem;
    }
}